<!DOCTYPE html>
<html lang="en" ng-app="manager">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <meta charset="UTF-8">
    <meta name="description" content="Translate from English to Dhivehi">
    <meta name="keywords" content="Dhivehi Maldives Maldivian Translate Language Translator Translating">
    <meta name="author" content="Hammadh Abdul Rahman">
		<link rel="icon" href="images/favicon-32x32.png" sizes="32x32">
    <title>Manage Definitions</title>

    <!-- CSS  -->
    <link href="css/compressed.css" rel="stylesheet">
</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="index.html" class="brand-logo">
							<span class="hide-on-small-only" >English-Dhivehi Translator</span>
							<span class="hide-on-med-and-up" >Translator</span>
						</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="index.html"><i class="material-icons">home</i></a></li>
                <li class="active"><a href="manage.html"><i class="material-icons">library_add</i></a></li>
                <li><a href="download.html"><i class="material-icons">get_app</i></a></li>
                <li><a href="help.html"><i class="material-icons">live_help</i></a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="index.html"><i class="material-icons left">home</i>Home</a></li>
                <li class="active"><a href="manage.html"><i class="material-icons left">library_add</i>Manage</a></li>
                <li><a href="download.html"><i class="material-icons left">get_app</i>Download</a></li>
                <li><a href="help.html"><i class="material-icons left">live_help</i>Help</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center orange-text">Manage Definitions</h1>
            <div class="row center">
                <h5 class="header col s12 light">Modify dhivehi words and word types</h5>
            </div>
            <div class="row center">
            </div>

        </div>
    </div>


    <div class="container">

        <form class="" id="sentForm" method="post" align="center" action="">
            <div class="input-field">
                <input id="sent_eText" type="text" class="validate">
                <label id="sent_eTextL" for="sent_eText">English sentence</label>
            </div>
						<button id='submit' class="btn waves-effect waves-light" type="submit" name="action">Lookup definitions
								<i class="material-icons right">search</i>
						</button>
            <div class="progress" style="display:none">
                <div class="indeterminate"></div>
            </div>
        </form>

        <div class="section">

            <!--   Icon Section   -->
            <div ng-controller="managerController as definitions" class="row">
                <div class="row center">
                    <div ng-repeat="d in definitions.definition" class="definitionForm input-field col container s12 m6 l3 center">
                        <form class="" id="form{{$index}}" method="post" align="center" action="" style="display:none">
                            <div class="input-field">
                                <input id="eText{{$index}}" type="text" class="validate disabled" disabled="disabled" ng-model="d.eText">
                                <label id="eTextl{{$index}}" for="eText{{$index}}">English word</label>
                            </div>
                            <div class="input-field">
                                <input id="dText{{$index}}" type="text" class="validate dText dv" ng-model="d.dText">
                                <label id="dTextl{{$index}}" for="dText{{$index}}">Dhivehi word</label>
                            </div>
                            <div class="input-field">
                                <select id="type{{$index}}" ng-model="d.type">
						<option value="" disabled selected>Choose word type</option>
							<option value="1">Coordinating conjunction</option>
							<option value="2">Cardinal number</option>
							<option value="3">Determiner</option>
							<option value="4">Existential there</option>
							<option value="5">Foreign word</option>
							<option value="6">Preposition or subordinating conjunction</option>
							<option value="7">Adjective</option>
							<option value="8">Adjective, comparative</option>
							<option value="9">Adjective, superlative</option>
							<option value="10">List item marker</option>
							<option value="11">Modal</option>
							<option value="12">Noun, singular or mass</option>
							<option value="13">Noun, plural</option>
							<option value="14">Proper noun, singular</option>
							<option value="15">Proper noun, plural</option>
							<option value="16">Predeterminer</option>
							<option value="17">Possessive ending</option>
							<option value="18">Personal pronoun</option>
							<option value="19">Possessive pronoun</option>
							<option value="20">Adverb</option>
							<option value="21">Adverb, comparative</option>
							<option value="22">Adverb, superlative</option>
							<option value="23">Particle</option>
							<option value="24">Symbol</option>
							<option value="25">to</option>
							<option value="26">Interjection</option>
							<option value="27">Verb, base form</option>
							<option value="28">Verb, past tense</option>
							<option value="29">Verb, gerund or present participle</option>
							<option value="30">Verb, past participle</option>
							<option value="31">Verb, non­3rd person singular present</option>
							<option value="32">Verb, 3rd person singular present</option>
							<option value="33">Wh­determiner</option>
							<option value="34">Wh­pronoun</option>
							<option value="35">Possessive wh­pronoun</option>
							<option value="36">Wh­adverb</option>
					</select>
                                <label>Word type</label>
                            </div>
														<button id='submit' class="btn waves-effect waves-light" type="submit" name="action">Save
																<i class="material-icons right">send</i>
														</button>
                        </form>
                    </div>

                </div>
                <div id="definitionFeedback" class="#ef9a9a red lighten-3" style="display:none">
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

                <div class="section no-pad-bot" id="Arrange-banner" style='display:none'>
                    <div class="container">
                        <br><br>
                        <h1 class="header center orange-text">Rearrange words</h1>
                        <div class="row center">
                            <h5 class="header col s12 light">Arrange the dhivehi words in Right to Left order</h5>
                        </div>
                        <div class="row center">
                        </div>
                        <br><br>

                    </div>
                </div>




                <div class="row center">
                    <div ng-repeat="d in definitions.definition | reverse">
                        <div id="position{{$index}}" class="ui-widget-header droppable position ui-state-highlight" style="display:none">
                            <p>{{definitions.definition.length-$index}}. Drop here</p>
                            <div id="word{{$index}}" class="ui-widget-content draggable word">
                                <p ng-model="d.dText" class='dText'>{{d.dText}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row center">
                    <div id="positionT" class="ui-widget-header droppable" style="display:none">
                        <p>Drop unused words here</p>
                    </div>
                    <div class="col">
												<button id='setRule' class="btn waves-effect waves-light" type="submit" name="action" style="display:none">Save Rule
														<i class="material-icons right">send</i>
												</button>
                    </div>
                </div>

                <div id="feedback" class="#ef9a9a red lighten-3" style="display:none">
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

            </div>

            <div class="section">

            </div>
        </div>
    </div>

    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. This project is too huge to accomplish on our own and we need your help to make this a success. Any help is greatly appreciated.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Developers</h5>
                    <ul>
                        <li><a class="white-text" href="mailto:admin@translate.33mail.com" target="_blank">Hammadh</a></li>
                        <li><a class="white-text">Ashraq</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text"></h5>
                    <ul>
                        <div id="pb-opennlp" class="container l12 center">
                            <a href="https://opennlp.apache.org/" target="_blank"><img src="images/pb-opennlp.jpg" alt="Apache OpenNLP Logo" class="circle responsive-img l12" height="300" width="300"></a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Templates by <a class="orange-text text-lighten-3" href="http://materializecss.com" target="_blank">Materialize</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript">
	var jQuery_1_4_2 = $;
  </script>
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="../../bin/materialize.js"></script>
  <script src="js/init.js"></script>
  <!-- <script type="text/javascript" src="js/jtk-4.2.1.pack.js"></script -->>
  <script src="js/angular.min.js"></script>
  <script src="js/jquery.ui.touch-punch.min.js"></script>
  <script type="text/javascript" src="js/jquery.caret.1.02.js"></script>
	<script src="manager.js"></script>
    <script defer>
        $(document).ready(function() {
            $('select').material_select();
            $('#sent_eText').focus();
						var QueryString = getQueryString();
						if(QueryString.eText != null)
							$('#sent_eText').val(QueryString.eText.replace(/\+/g,' '));
						/*else
							$('#sent_eText').val('');*/
            $('#sent_eTextL').addClass("active");
        });

				function getQueryString() {
					// This function is anonymous, is executed immediately and 
					// the return value is assigned to QueryString!
					var query_string = {};
					var query = window.location.search.substring(1);
					var vars = query.split("&");
					for (var i=0;i<vars.length;i++) {
						var pair = vars[i].split("=");
								// If first entry with this name
						if (typeof query_string[pair[0]] === "undefined") {
							query_string[pair[0]] = decodeURIComponent(pair[1]);
								// If second entry with this name
						} else if (typeof query_string[pair[0]] === "string") {
							var arr = [ query_string[pair[0]],decodeURIComponent(pair[1]) ];
							query_string[pair[0]] = arr;
								// If third or later entry with this name
						} else {
							query_string[pair[0]].push(decodeURIComponent(pair[1]));
						}
					} 
					return query_string;
				};
    </script>
</body>

</html>