<!DOCTYPE html>
<html lang="en" ng-app="manager">
<!-- <html ng-app="manager"> -->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Manage Definitions</title>
  
	<style type="text/css">
@charset "utf-8";

@font-face 		{ font-family: 'MV_Faseyha'; src:url('fonts/mv_faseyha.otf') format('opentype') }
/* @font-face 		{ font-family: 'MV_Waheed'; src:url('fonts/mv_waheed.otf') format('opentype') } */
	  html {
    font-family: GillSans, Calibri;
  }
.dText {
    font-family: MV_Faseyha;
    font-size: 200%;
/*	text-align: right;*/
	direction: rtl;
}
    </style>
	
  <!-- CSS  -->
  <link href="css/icon.css" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="css/jquery-ui.css">
	<style type="text/css">
 
  .draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
  .droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
	</style>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="index.html" class="brand-logo">English-Dhivehi Translator</a>
      <ul class="right hide-on-med-and-down">
		<li><a href="index.html"><i class="material-icons">home</i></a></li>
		<li class="active"><a href="manage.html"><i class="material-icons">edit</i></a></li>
		<li><a href="download.html"><i class="material-icons">get_app</i></a></li>
     </ul>

      <ul id="nav-mobile" class="side-nav">
		<li><a href="index.html"><i class="material-icons left">home</i>Home</a></li>
		<li class="active"><a href="manage.html"><i class="material-icons left">edit</i>Manage</a></li>
		<li><a href="download.html"><i class="material-icons left">get_app</i>Download</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Manage Definitions</h1>
      <div class="row center">
        <h5 class="header col s12 light">Modify dhivehi words and word types</h5>
      </div>
      <div class="row center">
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">

  <form class="" id="sentForm" method="post" align = "center" action="">
    <div class="input-field">
	  <input id="sent_eText" type="text" class="validate">
	  <label id="sent_eTextL" for="sent_eText">English sentence</label>
	</div>
	<input class="waves-effect waves-light btn" type="submit" value="Lookup definitions"></input>
	<div class="progress" style="display:none">
	  <div class="indeterminate"></div>
	</div>
  </form>

    <div class="section">

      <!--   Icon Section   -->
      <div ng-controller="managerController as definitions" class="row">
		<div  class="row center">
			<div ng-repeat="d in definitions.definition" class="definitionForm input-field col container s12 m6 l3 center">
				<form class="" id="form{{$index}}" method="post" align = "center" action="" style="display:none">
				<div class="input-field">
					<input id="eText{{$index}}" type="text" class="validate disabled" disabled="disabled" ng-model="d.eText">
					<label id="eTextl{{$index}}" for="eText{{$index}}">English word</label>
				</div>
				<div class="input-field">
					<input id="dText{{$index}}" type="text" class="validate dText dv" ng-model="d.dText">
					<label id="dTextl{{$index}}" for="dText{{$index}}">Dhivehi word</label>
				</div>
				<div class="input-field">
					<select id="type{{$index}}" ng-model="d.type">
						<option value="" disabled selected>Choose word type</option>
							<option value="1">Coordinating conjunction</option>
							<option value="2">Cardinal number</option>
							<option value="3">Determiner</option>
							<option value="4">Existential there</option>
							<option value="5">Foreign word</option>
							<option value="6">Preposition or subordinating conjunction</option>
							<option value="7">Adjective</option>
							<option value="8">Adjective, comparative</option>
							<option value="9">Adjective, superlative</option>
							<option value="10">List item marker</option>
							<option value="11">Modal</option>
							<option value="12">Noun, singular or mass</option>
							<option value="13">Noun, plural</option>
							<option value="14">Proper noun, singular</option>
							<option value="15">Proper noun, plural</option>
							<option value="16">Predeterminer</option>
							<option value="17">Possessive ending</option>
							<option value="18">Personal pronoun</option>
							<option value="19">Possessive pronoun</option>
							<option value="20">Adverb</option>
							<option value="21">Adverb, comparative</option>
							<option value="22">Adverb, superlative</option>
							<option value="23">Particle</option>
							<option value="24">Symbol</option>
							<option value="25">to</option>
							<option value="26">Interjection</option>
							<option value="27">Verb, base form</option>
							<option value="28">Verb, past tense</option>
							<option value="29">Verb, gerund or present participle</option>
							<option value="30">Verb, past participle</option>
							<option value="31">Verb, non­3rd person singular present</option>
							<option value="32">Verb, 3rd person singular present</option>
							<option value="33">Wh­determiner</option>
							<option value="34">Wh­pronoun</option>
							<option value="35">Possessive wh­pronoun</option>
							<option value="36">Wh­adverb</option>
					</select>
					<label>Word type</label>
				</div>
				<input class="waves-light btn" type="submit" value="Save"></input>
				</form>
			</div>

		</div>
		
  <div class="section no-pad-bot" id="Arrange-banner" style='display:none'>
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Rearrange words</h1>
      <div class="row center">
        <h5 class="header col s12 light">Arrange the dhivehi words in Right to Left order</h5>
      </div>
      <div class="row center">
      </div>
      <br><br>

    </div>
  </div>
		
		
		
		
		<div class="row center">
			<div ng-repeat="d in definitions.definition | reverse" >
				<div id="position{{$index}}" class="ui-widget-header droppable position ui-state-highlight" style="display:none">
				  <p>{{definitions.definition.length-$index}}. Drop here</p>
					<div id="word{{$index}}" class="ui-widget-content draggable word">
					  <p ng-model="d.dText" class='dText'>{{d.dText}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row center">
				<div id="positionT" class="ui-widget-header droppable" style="display:none">
				  <p>Drop unused words here</p>
				</div>
			<div class="col">
				<input id="getRule" class="waves-light btn" type="submit" value="Save Rule" style="display:none"></input>
			</div>
		</div>
		
		<div id="feedback" class= "container #ef9a9a red lighten-3l12" style="display:none">
				<br>
				<br>
				<br>
				<br>
		</div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. This project is too huge to accomplish on our own and we need your help to make this a success. Any help is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Developers</h5>
          <ul>
            <li><a class="white-text" href="mailto:freestyle.reunion@gmail.com" target="_blank">Hammadh</a></li>
            <li><a class="white-text" href="#!">Ashraq</a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
		<div id="pb-opennlp" class= "container l12 center">
			<a href="https://opennlp.apache.org/" target="_blank"><img src="images/pb-opennlp.jpg" alt=""  class="circle responsive-img l12" height="300" width="300"></a>
		</div>
		<li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Template by <a class="orange-text text-lighten-3" href="http://materializecss.com" target="_blank">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript">
	var jQuery_1_4_2 = $;
  </script>
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="../../bin/materialize.js"></script>
  <script src="js/init.js"></script>
  <script type="text/javascript" src="js/jtk-4.2.1.pack.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/jquery.ui.touch-punch.min.js"></script>
  <script type="text/javascript" src="js/jquery.caret.1.02.js"></script>
	<script src="manager.js"></script>
	<script>
		$(document).ready(function(){
			$('select').material_select();
			$('#sent_eText').focus();
			$('#sent_eText').val(" ");
			$('#sent_eTextL').addClass("active");
		});
	</script>
  </body>
</html>
